.container {
    width: 900px;
    margin: 20px auto;

  }
  
  .video{
    width: 100%;
    height: auto;
  }
  .video-player {
    position: relative;
    width: 100%;
   margin: 0 auto;
   background-color: black;
  }
  .controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1;
  }


  .play-pause,
  .mute,
  .volume,
  .progress,time,
  :fullscreen
  {
background-color: transparent;
border:none;
color:white;
outline: none;
cursor: pointer;
font-size: 24px;
  }


.play-pause:hover,
.mute:hover,
.fullscreen:hover{
  color: white;
}
.mute{
  margin:10px;
}

.volume-slider{
  width: 80px;
}
.progress{
  flex:1;
  height: 4px;
  margin:0 10px;
  position: relative;
  background-color: rgb(72, 136, 136);
}
.progress-bar{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.time{
  font-size: 14px;
color: white;
}
.fullscreen{
  margin-left: 10px;
  
}